.save-button{
    margin-top: 15px!important;
}
.content{
    margin-left: 50px !important;
    width: 90%;
}
.content-margin{
    margin-top: 40px;
}
@media only screen and (max-width: 875px) {
    .content{
        margin-left: 0px !important;
        width: 100%;
    }
    .content-margin{
        margin-top: 75px;
        padding: 0px !important;
    }
  
}

