a {
    color: white;
}
.textarea {
    color: white;
}
.note-list { 
    margin-top: 75px;
    height: 50rem;
    width: 100%;
}
.note-item {
    margin-left: 75px !important;
    margin-right: 75px !important;
    margin-bottom: 0px !important;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}
.note-last-item {
    border-bottom: 1px solid #eeeeee;
}
.note-icon {
    font-size: 50px; 
    color: #ff5252;
}
.note-hashtag {
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: right;
    font-size: 20px;
}
.file-name {
    font-size: 35px;
}
.menu {
    height: 73px !important;
}
.nav-text {
    margin-top: 4.5px !important;
}
body {
    height: 100vh;
}
.plus {
    margin-right: 75px;
    margin-top: 50px;
}
.file-name-input {
    margin-top: 50px;
}

@media only screen and (max-width: 875px) {
    .note-item {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100%;
        border-right: none;
        border-left: none;
    }
    .plus {
        margin-right: 25px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .file-name {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        font-size: 25px;
        margin-left: 20px;
    }
}