a {
    color: white;
}
.textarea {
    color: white;
}
.note-list { 
    margin-top: 75px;
    height: 50rem;
    width: 100%;
}
.note-item {

}
.note-icon {
    font-size: 50px; 
    margin-left: 75px !important;
}
.nav {
    height: 100px;
}
body {
    position: relative;
}
.plus {
    position: absolute;
    bottom: 0px;
    right: 100px;
}