a {
    color: white;
}
body {
    background-image: url(../images/background-board-brown-326311.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}